@{ 
    List<Category> categories = new List<Category>();
    using (ECommerce.Data.ECommerceContext eCommerceContext = new ECommerce.Data.ECommerceContext())
    {
        categories = eCommerceContext.Categories.ToList();

        //List<User> users = eCommerceContext.Users.Include(a => a.Addresses).ToList();
        //List<Address> addresses = eCommerceContext.Addresses.Include(a => a.User).ToList();
    }
}
<p>
    @{
        
        foreach (Category category in categories)
        {
            <span><a href="@Url.Action("Index", "Category", new { id = category.Id })">@category.Name</a></span> <text>|</text>
        }
    }
</p>